*{
    box-sizing: border-box;
}
:root {
    --main-color: #1e1e1e;
    font-size: 1.1rem;
}
body{
    background-color: #f5f5f5;
}
#home{
    background-image: url(DevFoli-Img/intro-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.nav-item .nav-link{
    position: relative;
}
.nav-item .nav-link::after{
    content: '';
    position: absolute;
    height: 3px;
    background-color: white;
    width: 50px;
    bottom: -5px;
    left: 8px;
}
.nav-item1 .nav-link{
    position: relative;
    transition-duration: 1s;

}
.nav-item1:hover .nav-link::after{
    content: '';
    position: absolute;
    height: 3px;
    background-color: white;
    width: 50px;
    bottom: -5px;
    left: 8px;
}
#home h1{
    font-size: 4rem;
}
@media screen and (max-width:600px) {
    #home h1{
        font-size: 2rem;
    }
}
#home h3{
    font-size: 2rem;
}
.caption{
    
    background-color:rgba(0, 0, 0, 0.5) ;
}
#home h3::after{
    content: "|";
    animation-name:typing  ;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}
@keyframes typing{
    0%{
        content: "C|";
    }
    1%{
        content: "CE|";
    }
    1%{
        content: "CEO|";
    }
    2%{
        content: "De|";
    }
    2%{
        content: "Dev|";
    }
    4%{
        content: "DevF|";
    }
    5%{
        content: "DevFo|";
    }
    7%{
        content: "DevFol|";
    }
    8%{
        content: "DevFoli|";
    }
    10%{
        content: "DevFol|";
    }
    11%{
        content: "DevFo|";
    }
    13%{
        content: "DevF|";
    }
    14%{
        content: "Dev|";
    }
    16%{
        content: "De|";
    }
    18%{
        content: "D|";
    }
    19%{
        content: "W|";
    }
    19%{
        content: "We|";
    }
    19%{
        content: "Web|";
    }
    21%{
        content: "D|";
    }
    22%{
        content: "De|";
    }
    24%{
        content: "Dev|";
    }
    25%{
        content: "Deve|";
    }
    27%{
        content: "Devel|";
    }
    28%{
        content: "Develo|";
    }
    30%{
        content: "Develope|";
    }
    31%{
        content: "Developer|";
    }
    33%{
        content: "Develope|";
    }
    34%{
        content: "Develop|";
    }
    36%{
        content: "Develo|";
    }
    37%{
        content: "Devel|";
    }
    39%{
        content: "Deve|";
    }
    40%{
        content: "Dev|";
    }
    41%{
        content: "De|";
    }
    43%{
        content: "D|";
    }
    44%{
        content: "D|";
    }
    46%{
        content: "De|";
    }
    48%{
        content: "Des|";
    }
    49%{
        content: "Desi|";
    }
    50%{
        content: "Desig|";
    }
    52%{
        content: "Design|";
    }
    
    55%{
        content: "Designe|";
    }
    57%{
        content: "Designer|";
    }
    58%{
        content: "F|";
    }
    60%{
        content: "Fr|";
    }
    62%{
        content: "Fro|";
    }
    63%{
        content: " Fron|";
    }
    66%{
        content: " Front|";
    }
    67%{
        content: " Fronte|";
    }
    68%{
        content: " Fronten|";
    }
    70%{
        content: " Frontend|";
    }
    71%{
        content: " Frontend D|";
    }
    73%{
        content: " Frontend De|";
    }
    74%{
        content: " Frontend Dev|";
    }
    76%{
        content: " Frontend Deve|";
    }
    78%{
        content: " Frontend Devel|";
    }
    79%{
        content: "Frontend Develo|";
    }
    80%{
        content: "Frontend Develop|";
    }
    81%{
        content: "Frontend Developer|";
    }
    82%{
        content: "Frontend Develop|";
    }
    83%{
        content: "Frontend Devel|";
    }
    84%{
        content: "Frontend Dev|";
     }
     86%{
        content: " Frontend D|";
     }
     87%{
        content: " Frontend|";
     }
     88%{
        content: " Fronte|";
     }
     89%{
        content: " Fron|";
     }
     90%{
        content: " Fr|";
     }
     91%{
        content: " F|";
     }
     92%{
        content: "G|";
     }
     93%{
        content: "Gr|";
     }
     94%{
        content: "Gra|";
     }
     95%{
        content: "Grap|";
     }
     95%{
        content: "Graph|";
     }
     95%{
        content: "Graphic|";
     }
     96%{
        content: "D|";
     }
     97%{
        content: "De|";
     }
     98%{
        content: "Des|";
     }
     99%{
        content: "Des|";
     }
     99%{
        content: "Desin|";
     }
     99%{
        content: "Desiner|";
     }
     100%{
        content: "D|";
     }
     
    }

.about-text h5{
    position: relative;
}
.about-text h5::after{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
    left:0;
}
.lead{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #4e4e4e;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.about-skills p{
    color:var(--main-color);
    font-weight: 600;
    font-size: 1.1rem;
}
.about-skills{
    color: #4e4e4e;
}
.about-body span{
    color:var(--main-color);
    font-weight: 600;
    font-size: 1.1rem;

}
.services-title h2{
color:var(--main-color);
font-size: 3rem;
}
.services-line{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}

.services-icon .ico-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    font-size: 2rem;
    display: block;
    margin: 0 auto;
    line-height: 1.8;
    box-shadow: 0 0 0 10px  #0078ff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}
.services-icon .ico-circle:hover{
    background-color:#0078ff;
    box-shadow: 0 0 0 6px #b6d9ff;
    border-color:#b6d9ff;
}
.services-icon .ico-circle .fa-solid{
    font-size:3rem;
    transition-duration: 1s;
}
.services-icon .ico-circle .fa-solid:hover{
    color:white;
}

.services-icon{
    margin-top:20px
}
.paralax-mf {
    position: relative;
    padding: 8rem 0;
}
.number{
    background-image: url(./DevFoli-Img/counters-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem;
}
 .overlay{
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
background-color: #0078ff;
}
.number .container{
    position: relative;
    
   
}
.num-icon .ico-sp{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    font-size: 2rem;
    display: block;
    margin: 0 auto;
    line-height: 1.8;
    box-shadow: 0 0 0 10px #cde1f8;
}
.num-content .counter{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
}
 .card-body .w-ctegory{
    font-size: .8rem;
    color: #0078ff;
}
.card-body .w-date{
    color: #4e4e4e;
    font-size: .8rem;
}
.work-icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    line-height: 1.8;
    box-shadow: 0 0 0 2px  #0078ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-icon .fa-solid{
    font-size: 1rem;
    color: #0078ff;
}
.work-icon{
    display:flex;
    align-items:center;
    justify-content:center;
}
.WORK img{
    transition: all 0.7s ease;
}
.WORK img:hover{
    transform:scale(1.1);
   
}
.blog .card-text{
    color: #4e4e4e;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}
.blog-icon1 .avatar{
    width: 32px;
    height: 32px;
}
.blog-icon1 a{
    text-decoration: none;
}
.blog-extra  .morgan{
    color: var(--main-color);
    transition-duration: 1s;
}
.blog-extra  .morgan:hover{
    color:#0078ff;
}
.BLOG h3{
    transition-duration: 1s;
}
.BLOG h3:hover{
    color:#0078ff;
}
.blog-dur{
    font-size: 15px;
    color:#afadad;
}
.card-badge{
    top:-15px;
    left: 15px;
    right: 15px;
}
.CONTACT{
    background-image: url(./DevFoli-Img/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.div button{
    padding: 17px 30px;
    border-radius: 35px;
    border: none;
    background-color:rgb(0, 98, 211);;
    color: white;
    font-size: 17px;
    margin-top: 17px;
    transition-duration: 1s;
}
.div button:hover{
    background-color:#084c99;
    box-shadow: 2px 2px 2px 2px rgb(180 179 179);
}
.more-info li{
    list-style: none;
}
.more-info i{
    color:#0078ff;
    margin-right:10px;
    font-size: 15px;
}

.social .social-ic{
    width:2rem;
    height:2rem;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #0078ff;
    transition-duration: 1s;
}
.social .social-ic:hover{
    box-shadow: 0 0 0 3px #0078ff;
    background-color:#0078ff;
}
.social .social-ic i{
    text-align: center;
    transition-duration: 1s;

}
.social .social-ic i:hover{
    color:white;
}

.marata{
    background-image: url(./DevFoli-Img/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
 
}